.full-page-panel {
	text-align:center;

	position:relative;
	left:0;
	top:0;
}

/*
 adding the gotham htf fonts
*/
@font-face{
	font-family: gotham-htf;
	src: url(../fonts/GothamHTF-Book.ttf);
}

@font-face{
	font-family: gotham-htf;
	src: url(../fonts/GothamHTF-Bold.otf);
	font-weight: bold;
}

.gotham-bold{
	font-family: gotham-htf;
	font-weight: bold;
}

.gotham{
	font-family: gotham-htf;
}

.clickable{
	cursor: pointer;
}

.btn-next-panel{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 20px;
}
.btn-next-panel a{
	background-image: url(../img/btn-next-panel.png);
	padding: 10px 13px;
}

/*
 default height for spacers
 keeps page from breaking on noscript
*/
#spacer1,#spacer2,#spacer3,#spacer4{
	height:50px;
}

/*///////////////////////////////////////////////////
 PANEL 1
*/
#panel1{
	background-image: url(../img/background1.png);
	background-size: cover;
	border-bottom: 5px #898989 solid;
}

.panel1-shading{
	background-image: url(../img/background1-shading.png);
	background-size: 100% 100%;
	width: 100%;
	height: 100%;
}

/*.logo{
	padding-top: 50px;
}*/

.logo-bottom{
	margin-top: 10px;
}

#panel1 h1{
	font-family: gotham-htf;
	color: white;

	margin-top: 100px;
}

#panel1 h1 span{
	color: #f7df98;
}

.btn-contact{
	margin-top: 100px;
}
.btn-contact a{
	color: #617101;
	font-family: gotham-htf;
	font-size: 2em;

	padding: 15px 50px;

	background-image: url(../img/btn-contact.png);
}
.btn-contact a:hover{
	text-decoration: none;
	color: #617101;
}

/*//////////////////////////////////////////////////
 PANEL 2
*/

/*#panel2 .content-img{
	margin-top: 50px;
}*/

/*//////////////////////////////////////////////////
 PANEL 3
*/

#panel3{
	background-image: url(../img/background2.png);
	background-size: cover;
}

/*#panel3 .content-img{
	margin-top: 50px;
}	*/

/*//////////////////////////////////////////////////
 PANEL 4
*/

#panel4 > h2{
	font-family: gotham-htf;
	color: #585858;
	margin-bottom: 0px;
	margin-top: 0px;
}

#panel4 > p{
	font-family: gotham-htf;
	color: #585858;
	font-size: 1.4em;
}

#panel4 > p > span{
	font-weight: bold;
}

#contact-div{
	border-top: 1px #cccccc solid;
	border-bottom: 1px #cccccc solid;
	box-shadow: 0 10px 10px #f2f2f2, 0 -10px 10px #f2f2f2;
	width: 800px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 75px;
	padding: 30px 0px;
}

.hide-overflow{
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}

#panel4 form > div{
	text-align:right;
	padding: 15px 0px;
}

#panel4 input{
	width: 400px;
	height: 40px;

	margin-right: 200px;

	background-color: #cccccc;
	border: 0px;

	padding: 10px;
	font-family: gotham-htf;

}

#panel4 input:focus{
	border: 2px #898989 solid;
	outline:none;
}

#panel4 form span{
	font-family: gotham-htf;
	font-weight: bold;
	font-size: 1.2em;
	color: #a5a5a5;

	padding-right: 20px;
}

#panel4 button{
	margin-top:15px;

	width: 100px;
	border: 2px #be9f44 solid;
	background-color: white;
	color: #be9f44;

	font-weight: bold;
	font-family: gotham-htf;
	font-size: 1.3em;
}

#messagebox{
	display: none;

	text-align: center !important;
	font-family: gotham-htf;
	font-size: 1.4em;
}

#messagebox img{
	width: 30px;
}

#messagebox.error{
	color: red;
}


